<?php

/* 
 * Rename this file to config.php. 
 * Update the values below to reference your Database
 */

// Database Settings
$dbHost='localhost';
$dbUser='user';
$dbPass='password';
$dbDatabase='vbulletin';

//$outDir='C:\wamp64\www\vbulletin\manual\user\pages\14.admin_control_panel';
$outDir="./output";
$separator=DIRECTORY_SEPARATOR;

$xmlDir ="C:\wamp64\www\vbulletin\vb5_manual\core\includes\xml";
