dt {font-weight:bold;}

.right {
    display:inline-block !important;
    margin: .5rem 0 !important;
    clear:right;
    float:right;
}

.nav-prev, .nav-next {display:none;}

#chapter p {
    text-align: justify;
}

ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

ol > li {
    counter-increment: step-counter;
    vertical-align: text-top;
    margin-bottom: 10px;
    margin-right:25px;
}

ol > li::before {
    content: counter(step-counter);
    margin-right: 15px;
    font-size: 90%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.sc-notice {
    clear: right;
}

.sc-notice.nocloud > div:before, .sc-notice.cloudonly > div:before {
     position: absolute;
     top: 2px;
     color: #fff;
     font-family: FontAwesome;
     content: '\f0c2';
     left: 10px;
}

.sc-notice.nocloud > div:first-child {
    border-top: 30px solid #DF6F6C;
    background: #FAE2E2;
}

.sc-notice.nocloud > div:first-child:after {
    content: ' Cloud Restricted';
}

.sc-notice.cloudonly > div:first-child {
    border-top: 30px solid #77C577;
    background: #E6F9E6;
}

.sc-notice.cloudonly > div:first-child:after {
    content: ' Cloud Feature';
}

.sc-notice.debug > div:before {
     position: absolute;
     top: 2px;
     color: #fff;
     font-family: FontAwesome;
     content: '\f188';
     left: 10px;
}

.sc-notice.debug > div:first-child {
    border-top: 30px solid #DF6F6C;
    background: #FAE2E2;
}

.sc-notice.debug > div:first-child:after {
    content: ' Debug Mode Only';
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery figure {
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 206px;
    padding: 8px;
    margin: 0px !important;
}


.gallery figcaption {
    width: 250px;
    text-align: left;
    margin: 0 auto;
    padding-left: 8px;
}

.index, .columns {
    column-count: 4;
}

#chapter .columns li {
    list-style: none;
}