body {
    font-family: "Muli", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    letter-spacing: -0.03rem;
    font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 150%;
    letter-spacing: -0px; }
h1 {
    text-align: left;
    letter-spacing: -3px; }
h2 {
    letter-spacing: -2px; }
h3 {
   letter-spacing: -1px; }

#chapter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem 0; }
#chapter #body-inner {
    padding-bottom: 3rem;
    max-width: 80%; }
#chapter h3 {
    font-family: "Muli", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    text-align: center; }
#chapter h1 {
    font-size: 5rem;
    border-bottom: 4px solid #F0F2F4; }
#chapter p {
    text-align: justify;
    font-size: 1.2rem; }    

table.comparison-chart {
    width:85%;
    margin: 8px auto}
.comparison-chart th {
    text-align: center;
    margin:0 auto;}
.comparison-chart__detail {
    text-align: center;

}
.comparison-chart__column {
    width:20%;
}
.comparison-chart .fa-check {
    color: #1694CA;
}

.comparison-chart .fa-times {
    color: rgb(202, 22, 22);
}

dt {font-weight:bold;}

.right {
    display:inline-block !important;
    margin: .5rem 0 !important;
    clear:right;
    float:right;
}

.nav-prev, .nav-next {display:none;}

ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

ol > li {
    counter-increment: step-counter;
    vertical-align: text-top;
    margin-bottom: 10px;
    margin-right:25px;
}
section.variable h2 {
    font-size: 16pt;
    font-weight: bold;
}
ol > li::before {
    content: counter(step-counter);
    margin-right: 15px;
    font-size: 90%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.sc-notice {
    clear: right;
}

.sc-notice.nocloud > div:before, .sc-notice.cloudonly > div:before {
     position: absolute;
     top: 2px;
     color: #fff;
     font-family: FontAwesome;
     content: '\f0c2';
     left: 10px;
}

.sc-notice.nocloud > div:first-child {
    border-top: 30px solid #DF6F6C;
    background: #FAE2E2;
}

.sc-notice.nocloud > div:first-child:after {
    content: ' Cloud Restricted';
}

.sc-notice.cloudonly > div:first-child {
    border-top: 30px solid #77C577;
    background: #E6F9E6;
}

.sc-notice.cloudonly > div:first-child:after {
    content: ' Cloud Feature';
}

.sc-notice.debug > div:before {
     position: absolute;
     top: 2px;
     color: #fff;
     font-family: FontAwesome;
     content: '\f188';
     left: 10px;
}

.sc-notice.debug > div:first-child {
    border-top: 30px solid #DF6F6C;
    background: #FAE2E2;
}

.sc-notice.debug > div:first-child:after {
    content: ' Debug Mode Only';
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery figure {
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 206px;
    padding: 8px;
    margin: 0px !important;
}


.gallery figcaption {
    width: 250px;
    text-align: left;
    margin: 0 auto;
    padding-left: 8px;
}

.index, .columns {
    column-count: 4;
}

#chapter .columns li {
    list-style: none;
}