body {
  font-family: 'Open Sans', Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2b2b2b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
  color: #f6f6f6;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  color: #2b2b2b;  
}

.row {
  display: table-row;
  background: #f6f6f6;
}
  
  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }    
  
  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #2980b9;
  }    

.cell {
  padding: 6px 12px;
  display: table-cell;
}    

.form-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0;
    outline: 0;
}