{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}

    <div class="gallery">
    {% for image in page.media.images %}
    <figure>
            {{ image.cropResize(300,200).html }}
        <div class="image-info">
            <figcaption><b>{{ image.meta.title }}</b></figcaption>
        </div>
    </figure>
    {% endfor %}
    </div>

{% endblock %}